<header>
  <mat-toolbar>
      <mat-toolbar-row>
        <div style="width: 100%;">
          <div style="float: left;">
              <img src="logo-original.png" [attr.width]="30" [attr.height]="30" alt="">
          
          Course Academy
          </div>
          <!-- <div><mat-icon>shopping_cart</mat-icon></div> -->
          <div class="cart" style="float: right;">
          <mat-icon>add_shopping_cart</mat-icon>
          </div>
          </div>
          <!-- <a mat-button routerLink="/login" routerLinkActive="active-link">Login</a> -->
      </mat-toolbar-row>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
