<header>
  <mat-toolbar>
      <mat-toolbar-row>
          <div style="margin: 10px;">
              <img src="logo-original.png" [attr.width]="30" [attr.height]="30" alt="">
          </div>
          <span>Course Academy</span>
          <!-- <div><mat-icon>shopping_cart</mat-icon></div> -->
          <div class="cart">
          <mat-icon>add_shopping_cart</mat-icon>
          </div>
          <!-- <a mat-button routerLink="/login" routerLinkActive="active-link">Login</a> -->
      </mat-toolbar-row>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
