<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <div style="width: 100%;">
        <div class="title">
          <img src="logo-original.png" [attr.width]="30" [attr.height]="30" alt=""> Course Academy
        </div>
          <div  class="example-form" *ngIf="isLoggedIn">
            <form [formGroup]="searchForm" (ngSubmit)="submit()">
              <!-- <input type="search" matInput formControlName="filter" placeholder="search"> -->
              <input type="text" placeholder="search" formControlName="filter"><i (click)="submit()" class="material-icons">search</i>
              </form>
          </div>
        <div class="cart" *ngIf="isLoggedIn">
          <span class="cart_new">
            <mat-icon (click)="gotoCart()" [matBadgeHidden]="productsAdded == 0" matBadge={{productsAdded}}
              matBadgeColor="warn">add_shopping_cart</mat-icon>
          </span>
          <span>
            <mat-icon (click)="logout()">power_settings_new</mat-icon>
          </span>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>